<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hnzj.edu.cn.dao.StudentDao">
    <insert id="insertStudent" parameterType="hnzj.edu.cn.entity.Student">
        insert into student values(#{id},#{name},#{age},#{sex},#{idCard},#{phone},#{studentNumber},#{gradeId},#{academyId},#{majorId},#{classesId})
    </insert>
</mapper>